.PcDesk-page {
    background: rgb(26, 26, 26);

    .Showcase {
        h1 {
            margin: 0px;
        }

        .cards {
            display: flex;
            padding: 20px 250px;
        }
    }
}